
:root {
    --players: 1;
    --player_win_money_player: 0;
    --player_win_money_top: 20;
    --revive_time: 1;
}

html {
    font-size: medium;
    font-family: Verdana;
    color: white;
}

body {
    overflow: hidden;
}

#ammo {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 600px;
    height: 300px;
    background-image: url("images/ammo_background.png");
    background-size: 600px 300px;
}

#ammo_text {
    font-size: xx-large;
    margin-top: 155px;
    margin-left: 225px;
}

#players_money {
    display: grid;
    grid-template-rows: repeat(var(--players), 1fr);
    direction: rtl;
    position: absolute;
    right: 30px;
    bottom: 250px;
    line-height: 30px; /* Set space between players money */
}

.player_money {
    padding-top: 0.65em;
    padding-bottom: 1em;
    padding-left: 1.4em;
    padding-right: 1.6em;
    text-align: left;
    font-size: xx-large;
    background-image: url("./images/player_money_bg.png");
    background-position: top center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes slidein {
    0% {
        opacity: 1;
        right: 180px;
        top: calc(20px + 90px * var(--player_win_money_player));
    }
    100% {
        opacity: 0;
        right: 240px;
        top: calc(var(--player_win_money_top) * 1px + 90px * var(--player_win_money_player));
    }
}
.player_money_won, .player_money_lost {
    animation: 2s both running slidein;
    position: absolute;
}

.player_money_won {
    color: yellow;
}

.player_money_lost {
    color: red;
}

@keyframes new_round {
    0% {
        color: darkred;
    }
    50% {
        color: white;
    }
    100% {
        color: darkred;
    }
}

#waves_text {
    font-size: 85px;
    color: darkred;
    position: absolute;
    left: 85px;
    bottom: 50px;
}

.waves_animation {
    animation: 4s running new_round;
}

#player_perks {
    position: absolute;
    left: 40px;
    bottom: 200px;
}

.player_perk {
    padding-left: 10px;
}

#revive_bar_container {
    position: absolute;
    top: 65%;
    left: 44%;
    width: 250px;
}

.revive_progress {
    height: 24px;
    background-color: gray;
}

#powerups {
    position: absolute;
    bottom: 50px;
    left : 44%;
}

.powerup {
    padding-left: 10px;
}

#tab_container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 800px;
    height: 70%;
    overflow: auto;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-rows: 50px;
}

.tab_line {
    background-image: url("images/tab_bar.png");
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(80px, 1fr) );
}

.tab_item {
    height: 100%;
    margin-left: 0;
    padding-top: 15px;
    color: white;
}

.tab_hidden {
    visibility: hidden;
}

#grenades_container {
    position: absolute;
    right: 185px;
    bottom: 165px;
    width: 320px;
    display: grid;
    direction: rtl;
    grid-template-columns: repeat(auto-fill, 35px);
}