
:root {
    --players: 1;
    --player_win_money_player: 0;
    --player_win_money_top: 20;
    --revive_time: 1;
}

html {
    font-size: medium;
    font-family: Verdana;
    color: white;
}

body {
    overflow: hidden;
}

#ammo {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#ammo_text {
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -45%);
}

#players_money {
    display: grid;
    grid-template-rows: repeat(var(--players), 1fr);
    direction: rtl;
    position: absolute;
    right: 30px;
    bottom: 250px;
    line-height: 30px; /* Set space between players money */
}

.player_money {
    padding: 0.8em 1.5em;
    text-align: left;
    font-size: xx-large;
    background-image: url("./images/player_money_bg.png");
    background-position: top center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes slidein {
    0% {
        opacity: 1;
        right: 180px;
        top: calc(20px + 90px * var(--player_win_money_player));
    }
    100% {
        opacity: 0;
        right: 240px;
        top: calc(var(--player_win_money_top) * 1px + 90px * var(--player_win_money_player));
    }
}
.player_money_won, .player_money_lost {
    animation: 2s both running slidein;
    position: absolute;
}

.player_money_won {
    color: yellow;
}

.player_money_lost {
    color: red;
}

@keyframes new_round {
    0% {
        color: darkred;
    }
    50% {
        color: white;
    }
    100% {
        color: darkred;
    }
}

#waves_text {
    font-size: 85px;
    color: darkred;
    position: absolute;
    left: 85px;
    bottom: 0px;
}

.waves_animation {
    animation: 4s running new_round;
}

#player_perks {
    position: absolute;
    left: 40px;
    bottom: 200px;
}

.player_perk {
    padding-left: 10px;
}

#revive_bar_container {
    position: absolute;
    top: 65%;
    left: 44%;
    width: 250px;
}

.revive_progress {
    height: 24px;
    background-color: gray;
}

#powerups {
    position: absolute;
    bottom: 50px;
    left : 44%;
}

.powerup {
    padding-left: 10px;
}