@font-face {
    font-family: "Dirty Ego";
    src: url("fonts/DIRTYEGO.woff");
}

:root {
    --players: 1;
    --player_win_money_player: 0;
    --player_win_money_top: 20;
    --revive_time: 1;
    --players_voip: 1;
    --won-blur-px: 0;
    --won-spread-px: 0;
    --bar-target-width: 0%;
    --bar-target-width-old: 0%;
    --bar-anim-time: 0ms;
    --notif-anim-time: 0ms;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f11f;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 72, 0);
    border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 72, 0);
}

html, body {
    height: 100%;
}

html {
    font-size: medium;
    font-family: "Dirty Ego";
    color: white;
}

body {
    overflow: hidden;
}

#ammo {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 600px;
    height: 300px;
    background-image: url("images/ammo_background.png");
    background-size: 600px 300px;
}

#ammo_text {
    font-size: 50px;
    margin-top: 147px;
    margin-left: 225px;
    font-weight: unset;
}

#players_money {
    display: grid;
    grid-template-rows: repeat(var(--players), 1fr);
    direction: rtl;
    position: absolute;
    right: 30px;
    bottom: 270px;
    line-height: 30px; /* Set space between players money */
}

.player_money {
    padding-top: 0.6em;
    padding-bottom: 1em;
    padding-left: 1.1em;
    padding-right: 1.3em;
    text-align: center;
    font-size: 40px;
    background-image: url("./images/player_money_bg.png");
    background-position: top center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.self_money {
    color: rgb(231, 231, 0);
}

@keyframes slidein {
    0% {
        opacity: 1;
        right: 180px;
        top: calc(20px + 94px * var(--player_win_money_player));
    }
    100% {
        opacity: 0;
        right: 240px;
        top: calc(var(--player_win_money_top) * 1px + 94px * var(--player_win_money_player));
    }
}
.player_money_won, .player_money_lost {
    animation: 2s both running slidein;
    position: absolute;
}

.player_money_won {
    color: yellow;
}

.player_money_lost {
    color: red;
}

@keyframes new_round {
    0% {
        color: darkred;
    }
    50% {
        color: white;
    }
    100% {
        color: darkred;
    }
}

#waves_text {
    font-size: 160px;
    color: darkred;
    position: absolute;
    margin-bottom: 0;
    left: 85px;
    bottom: 40px;
    font-weight: unset;
}

.waves_animation {
    animation: 4s running new_round;
}

#player_perks {
    position: absolute;
    left: 20px;
    bottom: 200px;
}

.player_perk {
    margin-left: -10px;
}

#revive_bar_container {
    position: absolute;
    top: 65%;
    left: 44%;
    width: 250px;
}

.revive_progress {
    height: 24px;
    background-color: gray;
}

#powerups {
    position: absolute;
    bottom: 50px;
    left : 44%;
}

.powerup {
    padding-left: 0px;
}

#tab_container {
    position: absolute;
    text-align: center;
    font-size: 38px;
    width: 800px;
    height: 70%;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-auto-rows: 50px;
}

.tab_line {
    background-image: url("images/tab_bar.png");
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(80px, 1fr) );
}

.tab_item {
    height: 100%;
    margin-left: 0;
    padding-top: 5px;
    color: white;
}

.hidden {
    visibility: hidden !important;
    display: none !important;
}

#grenades_container {
    position: absolute;
    right: 185px;
    bottom: 165px;
    width: 320px;
    display: grid;
    direction: rtl;
    grid-template-columns: repeat(auto-fill, 35px);
}

#HTP_frame {
    position: absolute;
    font-family: Verdana;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(78, 78, 78, 0.92);
    border-radius: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 75%;
    height: 65%;
    text-align: center;
}

.HTP_title {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.HTP_category_title {
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(12, 175, 12);
}

.HTP_text {
    margin-top: 10px;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 12px;
}

#health-bar-container {
    box-sizing: border-box;
    top: 50px;
    right: 50px;
    width: 200px;
    height: 30px;
    padding: 7px;
    background: rgba(221,221,221,0.5);
    border-radius: 5px;
    position: absolute;
}
#health-bar {
    background: #c54;
    width: 100%;
    height: 15px;
    position: relative;

    transition: width .3s linear;
}
  
#hit-health {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;

    transition: width .3s linear;
}

#orders-wheel-container {
    position: absolute;
    left: 50%;
    top: 60%;
}



.blooming-menu__item:nth-of-type(1) .blooming-menu__item-btn {
    background-image: url(images/moveto.svg);
    background-size: 35%;
}

.blooming-menu__item:nth-of-type(2) .blooming-menu__item-btn {
    background-image: url(images/followme.svg);
}

.blooming-menu__item:nth-of-type(3) .blooming-menu__item-btn {
    background-image: url(images/stayhere.svg);
    background-size: 35%;
}


#VOIP-container {
    position: absolute;
    left: 20px;
    bottom: 410px;
    width: 11%;
    display: grid;
    grid-template-rows: repeat(var(--players_voip), 1fr);
    direction: rtl;
}

.player_voip {
    text-align: center;
    width: 100%;
    font-size: 24px;
    height: 85%;
    background-color: rgba(0, 82, 20, 0.9);
    border-radius: 10px;
    margin-bottom: 5%;
}

@keyframes voip_disappear {
    0% {
        opacity: 1;
        background-color: rgba(0, 82, 20, 0.85);
    }
    100% {
        opacity: 0.4;
        background-color: rgba(92, 92, 92, 0.5);
    }
}
.voip_disappear_anim {
    animation: 700ms running voip_disappear;
}

.Frame_Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(51, 34, 34, 0.95);
    text-align: center;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.Frame_Header {
    width: 100%;
    height: 50px;
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
    border-bottom: 1px solid black;
}

.Tabs_Header {
    width: 100%;
    height: 35px;
    font-size: 35px;
    border-bottom: 1px dashed rgb(151, 141, 130);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    overflow-x: auto;
    overflow-y: hidden;
}

button {
    border: none;
    font-size: 30px;
    font-family: "Dirty Ego";
    text-decoration: none;
    color: white;
    background-color: rgba(41, 35, 35, 0.92);
}

button:hover {
    background-color: rgba(14, 4, 71, 0.3);
    cursor: pointer;
}

.FrameTab {
    width: 100%;
    height: 100%;
}

.FTSelectedTab {
    background-color: rgba(37, 41, 6, 0.92);
}

.Items_Container {
    width: 100%;
}

.Item_Container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    height: 35px;
    border-bottom: 1px solid rgb(110, 110, 110);
}

.Item_Text {
    height: 100%;
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
    border-right: 1px solid rgb(255, 255, 255);
}

.Item_Checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Item_TextInput {
    text-align: center;
    width: 70%;
    height: 70%;
    margin-top: 3px;
    margin-left: 15%;
    border-radius: 5px;
}

.Item_Select {
    text-align: center;
    width: 72%;
    height: 80%;
    margin-left: 15%;
    margin-top: 3px;
    border-radius: 5px;
}

.Item_Button {
    text-align: center;
    width: 72%;
    height: 80%;
    margin-top: 4px;
    margin-left: 15%;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 22px;
}
.Item_Button:active {
    background-color: rgba(37, 41, 6, 0.92);
}

.Item_Text_Solo {
    font-size: 25px;
    font-family: Helvetica;
    height: 35px;
}

.Item_Text_Solo_Bottom {
    border-bottom: 1px solid rgb(110, 110, 110);
}

.Item_Image {
    margin-top: 3px;
}

.lvls_container {
    opacity: 0;
    position: absolute;
    bottom: 33px;
    height: 1%;
    width: 33%;
    left: 50%;
    transform: translate(-50%,0%);
}

.lvls_bar_bg {
    height: 100%;
    width: 85%;
    background-color: rgba(97, 97, 97, 0.95);
    border-radius: 20px;
}

.lvls_bar {
    left: 0px;
    height: 100%;
    width: 10%;
    background-color: rgb(12, 129, 138);
    box-shadow: 0px 0px 0px 0px #0C818A;
    border-radius: 20px;
}

.lvls_text {
    font-size: 220%;
    font-family: "Dirty Ego";
    color: rgb(255, 255, 255);
    width: 13%;
    float: right;
    transform: translate(0%,-75%);
}

@keyframes lvlbar_up {
    0% {
        box-shadow: 0px 0px 0px 0px #0C818A;
        width: var(--bar-target-width-old);
    }
    80% {
        box-shadow: 0px 0px calc(var(--won-blur-px) * 1px)  calc(1px * var(--won-spread-px)) #0C818A;
    }
    100% {
        box-shadow: 0px 0px 0px 0px #0C818A;
        width: var(--bar-target-width);
    }
}
.lvlbar_up_anim {
    animation: var(--bar-anim-time) lvlbar_up forwards;
}

@keyframes lvlbar_down {
    0% {
        box-shadow: 0px 0px 0px 0px #0C818A;
        width: var(--bar-target-width-old);
        background-color: rgb(12, 129, 138);
    }
    80% {
        box-shadow: 0px 0px calc(var(--won-blur-px) * 1px)  calc(1px * var(--won-spread-px)) #0c8a1d;
        background-color: #0c8a1d;
    }
    100% {
        box-shadow: 0px 0px 0px 0px #0C818A;
        width: var(--bar-target-width);
        background-color: rgb(12, 129, 138);
    }
}
.lvlbar_down_anim {
    animation: var(--bar-anim-time) lvlbar_down forwards;
}

#Notifications-container {
    position: absolute;
    left: 10px;
    top: 50px;
    width: 13%;
    display: grid;
    grid-template-rows: repeat(var(--players_voip), 1fr);
}


@keyframes Notification_Anim {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Notification_Progress {
    0% {
        width: 0%;
        background-color: rgba(53, 53, 53, 0.01);
    }
    100% {
        width: 100%;
        background-color: rgba(187, 187, 187, 0.5);
    }
}

.Notification {
    position: relative;
    width: 100%;
    border-radius: 20px;
    font-family: Helvetica;
    font-size: calc(var(--notif-font-px) * 1px);
    text-align: center;
    animation: var(--notif-anim-time) Notification_Anim forwards linear;
    background-color: rgba(53, 53, 53, 0.92);
    margin-top: 10px;
}

.Notification_Progress {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    height: 100%;
    animation: var(--notif-anim-time) Notification_Progress forwards linear;
}

#Repack-container {
    position: absolute;
    right: 110px;
    bottom: 110px;
    
}